body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;
}

.wrapper {
    display: block;
    max-width: 500px;
    margin: 8% auto;
}

.search_wrapper {
    line-height: 1.5;
    text-align: center;
}

.text-center {
    text-align: center;
}

.text, .submit {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 1.25rem;
}

.text {
    border: 1px solid #ccc;
}

.select{
    font-size: 1.25rem;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    margin-bottom: 2%;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
   display: none;
}
option {
   color: black;
   font-size: 1.1rem;
}

#search_aem{
    height: 27px;
    width: 6%;
    text-indent: 3px;
}

#search_subject{
    width: 21%; 
}

#search_year{
    width: 6%;
}

#search_exam_period{
    width: 16%;
}

.submit {
    text-transform: uppercase;
    background: #000;
    color: #fff;
}

.search {
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    font-size: 1.25rem;
}

.message {
    padding: 0 10px;
    margin-bottom: 15px;
    border-width: 1px;
    border-style: solid;
}

.message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.images{
    width:150px;
    height:150px;
    cursor:pointer;
    margin:10px;
}
.images:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}